<div id="intro-loader" data-controller="intro-loader">
  <div class="intro-overlay"></div>
  <h1 class="intro-text">GUIDEBYSO</h1>
  <button class="skip-intro-btn" data-action="click->intro-loader#skip">Skip intro</button>
</div>
