<div id="intro-loader" data-controller="intro-loader" class="hidden" aria-hidden="true">
  <div class="intro-overlay" aria-hidden="true"></div>
  <h1 class="intro-text" aria-hidden="true">GUIDEBYSO</h1>
  <button class="skip-intro-btn" data-action="click->intro-loader#skip" aria-label="Passer l'introduction">Passer</button>
</div>
