.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.hidden-navbar {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible-navbar {
  opacity: 1;
  transform: translateY(0);
}

