@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";

@import "components/index";
@import "pages/index";

@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff !important; // force le blanc
  overflow-x: hidden;
  transition: background-color 0.6s ease;
}
