@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";

@import "components/index";
@import "pages/index";

@import "bootstrap";

// Fond noir global (s’assure qu’il est visible au premier rendu)
// html, body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   background-color: #000 !important;
//   overflow-x: hidden;
// }
